# ----------------------------------------------------------
# Environment
# ----------------------------------------------------------
ENV=dev

# ----------------------------------------------------------
# External APIs
# ----------------------------------------------------------
FRED_API_KEY=<your_api_key_here>

# ----------------------------------------------------------
# Airflow (local dev)
# ----------------------------------------------------------
AIRFLOW_DB_URI=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow

# Cryptographic keys (dev only)
AIRFLOW__WEBSERVER__SECRET_KEY=<replace_with_a_long_random_string_32plus_chars>
AIRFLOW__CORE__FERNET_KEY=<replace_with_fernet_key>

# Admin user (created in airflow-init)
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# ----------------------------------------------------------
# Storage / AWS (dev)
# ----------------------------------------------------------
STORAGE_BACKEND=S3

AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1
AWS_PROFILE=nowcasting-dev

AWS_S3_BUCKET_DATA=e2e-macro-nowcasting-dev-data-us-east-1
AWS_S3_BUCKET_ARTIFACTS=e2e-macro-nowcasting-dev-artifacts-us-east-1
AWS_S3_BUCKET_AIRFLOW_LOGS=e2e-macro-nowcasting-dev-airflow-logs-us-east-1

# ----------------------------------------------------------
# Mlflow (dev)
# ----------------------------------------------------------
# Internal (container to container)
MLFLOW_TRACKING_URI=http://mlflow:5000

# Backend + registry config
MLFLOW_BACKEND_STORE_URI=postgresql+psycopg2://airflow:airflow@postgres:5432/mlflow
MLFLOW_EXPERIMENT_NAME=nowcasting
MLFLOW_REGISTRY_MODEL_NAME=nowcasting-models
MLFLOW_MODEL_ALIAS=champion

# ----------------------------------------------------------
# Dev-only MLflow hygiene
# ----------------------------------------------------------
GIT_PYTHON_REFRESH=quiet
GIT_PYTHON_GIT_EXECUTABLE=/usr/local/bin/git