# FRED API
FRED_API_KEY=your_api_key_here

# Airflow Secret Key
AIRFLOW__WEBSERVER__SECRET_KEY=replace_with_a_long_random_string_32plus_chars

# storage
STORAGE_BACKEND=S3

AWS_S3_BUCKET_DATA=make_bucket_data_name
AWS_S3_BUCKET_ARTIFACTS=make_bucket_artifact_name
AWS_S3_REGION=insert_region_here

AWS_S3_PROFILE=insert_profile_here

# mlflow
# MLFLOW_TRACKING_URI=insert_uri_here
MLFLOW_EXPERIMENT_NAME=insert_name_here

# suppress GitPython warnings
GIT_PYTHON_REFRESH=quiet
GIT_PYTHON_GIT_EXECUTABLE=/usr/local/bin/git