# ==========================================================
# Secrets
# ==========================================================

FRED_API_KEY=<your_api_key_here>
TIINGO_API_KEY=<your_api_key_here>

AIRFLOW_DB_URI=<your_db_uri_here>
MLFLOW_BACKEND_STORE_URI=<your_backend_db_uri_here>

AIRFLOW__WEBSERVER__SECRET_KEY=<replace_with_a_long_random_string_32plus_chars>
AIRFLOW__CORE__FERNET_KEY=<replace_with_fernet_key>

# ==========================================================
# Parameters
# ==========================================================

# AWS + S3
STORAGE_BACKEND=S3

AWS_REGION=us-east-1
AWS_DEFAULT_REGION=us-east-1

AWS_S3_BUCKET_DATA=nowcasting-dev-data-us-east-1
AWS_S3_BUCKET_ARTIFACTS=nowcasting-dev-artifacts-us-east-1
AWS_S3_BUCKET_AIRFLOW_LOGS=nowcasting-dev-airflow-logs-us-east-1

# Airflow
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# MLflow
MLFLOW_TRACKING_URI=http://mlflow:5000

MLFLOW_EXPERIMENT_NAME=nowcasting
NOWCAST_REGISTRY_MODEL=nowcasting-models
NOWCAST_MODEL_ALIAS=champion