# data
pandas

# secrets
python-dotenv

# apis
fredapi

# parquet
pyarrow

# test
pytest

# models
scikit-learn

# model artifacts
joblib

# airflow
apache-airflow==2.9.3
psycopg2-binary

# artifact tracking
mlflow